header {
    margin: 20px;
    padding: 10px;
    border: 2px solid blue;
    
}
#section1 {
   background-color: green; 
}
main {
    border: 2px solid blue;
}
#section2 {
    background-color: orange;
}
#section3 {
    background-color: rgb(234, 106, 106);
}